*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Layout page */

.logo {
    height: 40px;
}
.container-search {
    display: flex;
    align-items: center;
    width:100%;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid #999;
}
.search {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    padding: 8px;
}
.btn-submit {
    background: #ff5361;
    width: 30px;
    height: 30px;
    margin-right:7px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.btn-submit img {
    width: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contain-footer {
    display: flex;
    margin: 0% 10%;
    justify-content:space-between;
}
.social-icons {
    display: flex;
    float: right;
}
.social-icons li {
    list-style: none;
    padding-left: 30px;        
}
.icon {
    color: black;
    font-size: 22px;
    opacity: 0.6;
}
.link-privacy,
.link-AirbnbYourHome,
.link-AirCover {
    text-decoration: none;
    color: #000;
    margin-left: 10px;
}
.link-privacy:hover,
.link-AirbnbYourHome:hover,
.link-AirCover:hover {
    text-decoration: underline;
    color: #000;
}

/* All Places page */

.placeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
.slider-frame {
    overflow: hidden;
    height: 300px;
    width: 340px;
    margin-top: 20px;
}
@keyframes slide_animation {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: 340px;
    }

    30% {
        left: 340px;
    }

    40% {
        left: 680px;
    }

    50% {
        left: 680px;
    }

    60% {
        left: 340px;
    }

    70% {
        left: 340px;
    }

    80% {
        left: 0px;
    }

    90% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}
.slide-images {
    height: 300px;
    width: 1020px;
    margin: 0 0 0 -680px;
    position: relative;
    animation-name: slide_animation;
    animation-duration: 33s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
.img-container {
    height: 300px;
    width: 340px;
    position: relative;
    float: left;
}
.img{
    width:340px;
    height: 300px;
    border-radius: 20px;
}
.TypeAndRating{
    width: 340px;
    justify-content: space-between;
}
.PRating {
    margin-left: 100px;
}

/* Nav Bar */

.link{
    margin-right: 20px;
}
.link span {
    color: #333;   
} 
.link:hover{
    border-bottom: 3px solid #000;
}
.img-icon {
    width: 30px;
    height: 30px;
    opacity: 0.6;
}
.btn-filter {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 12px 18px;
    color: #000;
    background: #fff;
    text-decoration: none;
}
.btn-filter:hover{
    color: #000;
    background: #fff;
}
.icon-filter{
    margin-right: 10px;
}

/* Privacy page */

.para{
    font-size: 18px;
}


/* Filteration */

#close {
    margin-left: 370px;
}
.input-max,
.input-min {
    outline: none;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 5px 10px;
}
.container-bedRoomNum,
.container-bedNum,
.container-bathRoomNum {
    justify-content: space-between;
}
.input-radio {
    display: none;
}
.container-label{
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
}
.container-label span{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 31px;
    transition: .25s ease;
}
.container-label span:hover,
.input-radio:checked + span{
    background-color: #e8e8e8;
}
.container-label span:before {
   content: "";
   background-color: #fff;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   margin-right: 10px;
   transition: .25s ease;
   box-shadow: inset 0 0 0 2px #3b434a;
}
.input-radio:checked + span:before {
    background-color: #e8e8e8;
    box-shadow: inset 0 0 0 6px #3b434a;
}
.radio-title-group {
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-container{
    position: relative;
    height: 7rem;
    width: 7rem;
    margin: 0.5rem;
}
.input-container input{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}
.input-container .radio-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    transition: all 300ms ease;
}
.input-container .icon-type {
    color: #3b434a;
    font-size: 3rem;        
}
.input-container .type-label {
    color: #000;
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    text-align: center;       
}        
input:checked + .radio-title {
    background-color: #e8e8e8;
    box-shadow: 0 0 12px #e8e8e8;
    border: 2px solid #000;
}
input:hover + .radio-title {
    box-shadow: 0 0 12px #e8e8e8;
    border: 2px solid #000;
}
#filter {
    background: #ff5361;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 80px;
    padding: 10px;
    margin-left: 360px;
}

/* Airbnb Your Home page */

.p-about,
.p-td {
    font-size: 18px;
    color: #999;
}
table{
    margin-left: 15%;
}
th{
    font-size: 22px;
}
.h4-container {
    margin-top: 20px;
}
.i-airbnb {
    margin-left: 10px;
}
.i-competitors {
    margin-left: 50px;
}
.true-mark {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: green;
}
.false-mark {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: red;
}
.Protections {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.here:hover{
    cursor: pointer;
}
.modal-title {
    color: #000;
}
#btn-close {
    color: #000;
    margin-left: 260px;
}
.p-model {
    font-size: 16px;
    color: #555;
}
.Introducing-container{
    margin-right: 20px;
}
.apartment-img {
    width: 100%;
    height: 80%;
    border-radius: 3%;
}
.span-title{
    font-size: 14px;
    color: #999;
}
.accordion {
    box-shadow: 0 4px 4px -2px #0008;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
}
.tab {
    width: 100%;
    color: #333;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #3b434a;
    color: #fff;
    cursor: pointer;
}
.tab-label::after{
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}
.tab .tab-input:checked + .tab-label::after {
    transform: rotate(90deg);
}
.tab .tab-content {
    max-height: 0;
    padding: 0 1em;
    line-height: 1.8;
    background: #fff;
    color: #555;
    font-size: 18px;
    transition: all .35s;
}
.tab .tab-input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}
.tab-input {
    position: absolute;
    opacity: 0;
}

/* Profile page*/

.img-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 3%;
}

/* media query*/

@media (max-width: 1200px){
    .img-container {
        width: 280px;
    }
    .img {
        width: 280px;
    }
    .placeList {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .slider-frame {
        width: 280px;
    }
    .slide-images {
        width: 840px;
        margin: 0 0 0 -560px;
    }
    @keyframes slide_animation {
        0% {
            left: 0px;
        }

        10% {
            left: 0px;
        }

        20% {
            left: 280px;
        }

        30% {
            left: 280px;
        }

        40% {
            left: 560px;
        }

        50% {
            left: 560px;
        }

        60% {
            left: 280px;
        }

        70% {
            left: 280px;
        }

        80% {
            left: 0px;
        }

        90% {
            left: 0px;
        }

        100% {
            left: 0px;
        }
    }
    .TypeAndRating {
        width: 280px;
    }

}

@media (max-width:992px){
    .nav-link span {
        display: none;
    }
    .placeList {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    .slider-frame {
        width: 320px;
    }
    @keyframes slide_animation {
        0% {
            left: 0px;
        }

        10% {
            left: 0px;
        }

        20% {
            left: 320px;
        }

        30% {
            left: 320px;
        }

        40% {
            left: 640px;
        }

        50% {
            left: 640px;
        }

        60% {
            left: 320px;
        }

        70% {
            left: 320px;
        }

        80% {
            left: 0px;
        }

        90% {
            left: 0px;
        }

        100% {
            left: 0px;
        }
    }
    .slide-images {
        width: 960px;
        margin: 0 0 0 -640px;
    }
    .img-container {
        width: 320px;
    }
    .img {
        width: 320px;
    }
    .TypeAndRating {
        width: 320px;
    }
}

@media (max-width:768px) {
    .container-search {
        width: 80%;
        padding:2% 0% 2% 3%;
    }
    .search {
        padding: 4px;
    }
    .btn-submit {
        margin-left: -23%;
        width: 45px;
    }
    .link {
        margin-right: 3%;
    }
    .header-btn{
        font-size:small;
        padding:4%;
        height:80%;
    }
    .info-profile {
        visibility: hidden;
    }
    .profile-detail{
        margin-left:15%
    }
    .login-register-img {
        display: none;
        width: 0;
    }
    .contain-footer {
        margin: 2%;
    }
    .block-s {
        display: none;
    }
    .placeList {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .slider-frame {
        width: 400px;
    }
    @keyframes slide_animation {
        0% {
            left: 0px;
        }

        10% {
            left: 0px;
        }

        20% {
            left: 400px;
        }

        30% {
            left: 400px;
        }

        40% {
            left: 800px;
        }

        50% {
            left: 800px;
        }

        60% {
            left: 400px;
        }

        70% {
            left: 400px;
        }

        80% {
            left: 0px;
        }

        90% {
            left: 0px;
        }

        100% {
            left: 0px;
        }
    }
    .slide-images {
        width: 1200px;
        margin: 0 0 0 -800px;
    }
    .img-container {
        width: 400px;
    }
    .img {
        width: 400px;
    }
    .TypeAndRating {
        width: 400px;
    }
}