/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}*/

/*body {
    margin-bottom: 60px;
}*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header && Footer of Layout*/
.logo{
    /*margin-left: 30px;*/
    height: 40px;
}
.container-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid #999;
/*    margin-left: 420px;
    margin-right: 420px;*/
}

.search {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    padding: 8px;
}

.btn-submit {
    background: #ff5361;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.btn-submit img {
    width: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contain-footer {
    display: flex;
    margin: 5px 100px;
    justify-content:space-between;
}
.social-icons {
    display: flex;
    float: right;
}
.social-icons li {
    list-style: none;
    padding-left: 30px;        
}
.icon {
    color: black;
    font-size: 22px;
    opacity: 0.6;
}

/* Get All Places*/
.placeList {
    /*width: 100%;*/
    display: grid;
    /*grid-template-columns: auto auto auto auto;*/
    margin-left: 20px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
.slider-frame {
    overflow: hidden;
    height: 300px;
    width: 340px;
    margin-top: 20px;
}

@keyframes slide_animation {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: 340px;
    }

    30% {
        left: 340px;
    }

    40% {
        left: 680px;
    }

    50% {
        left: 680px;
    }

    60% {
        left: 340px;
    }

    70% {
        left: 340px;
    }

    80% {
        left: 0px;
    }

    90% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}

@-webkit-keyframes slide_animation {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: 340px;
    }

    30% {
        left: 340px;
    }

    40% {
        left: 680px;
    }

    50% {
        left: 680px;
    }

    60% {
        left: 340px;
    }

    70% {
        left: 340px;
    }

    80% {
        left: 0px;
    }

    90% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}

.slide-images {
    height: 300px;
    width: 1020px;
    margin: 0 0 0 -680px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container {
    height: 300px;
    width: 340px;
    position: relative;
    float: left;
}
.img{
    width:340px;
    height: 300px;
    border-radius: 20px;
}
.TypeAndRating{
    width: 340px;
    justify-content: space-between;
}
.PRating {
    margin-left: 100px;
}
/* Nav Bar of Home Page */
.link{
    margin-right: 20px;
}
.link span {
    color: #333;   
} 
.link:hover{
    border-bottom: 3px solid #000;
}
.img-icon {
    width: 30px;
    height: 30px;
    opacity: 0.6;
}
.btn-filter {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 12px 18px;
    color: #000;
    text-decoration: none;
}
.btn-filter:hover{
    color: #000;
}
.icon-filter{
    margin-right: 10px;
}
/* Privacy */
.para{
    font-size: 18px;
}
/*Filter*/
