@model airbnb.DTO.LoginDTO
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<br/>
<br/>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <br />
    <label asp-for="Email"></label> <input asp-for="Email" />
    <span asp-validation-for="Email"></span><br/>
    <br />
    <label asp-for="Password"></label> <input asp-for="Password" />
    <span asp-validation-for="Password"></span><br />
    <br />
    <input type="submit" value="Login" />
</form>

