@{
    ViewData["Title"] = "Not Found";
}
<div class="d-flex flex-row mt-2 justify-content-between" style="height:73vh">
    <div class="d-flex flex-column justify-content-center" style="width:49%">
        <h3 class="mb-4">Sorry!!</h3>
        <h3 class="mb-4">You haven't booked any place yet.</h3>
        <a class="btn btn-danger m-4 py-2 fs-5  w-50" asp-action="getAll" asp-controller="MainFeatures">Start exploring</a>
    </div>
    <img src="~/images/noData.png" width="49%" class="m-1" />
</div>