@{
    ViewData["Title"] = "Not Found";
}
<div class="d-flex flex-row mt-2" style="height:73vh">
    <div class="d-flex flex-column justify-content-center" style="width:45%">
        <h3 class="mb-4">Sorry!!</h3>
        <h3 class="mb-4">No Places match the requirement</h3>
        <a class="btn btn-danger mt-2" style="width:35%" asp-controller="MainFeatures" asp-action="getAll">Back</a>
    </div>
    <img src="~/images/noData.png" width="45%" class="m-1" />
</div>