<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Airbnb</title>
    <link rel="shortcut icon" type="image/ico" href="~/images/airbnb.png">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
</head>
<body>

    <div class="d-flex flex-row justify-content-between border-bottom box-shadow p-3">
        <a asp-controller="MainFeatures" asp-action="getAll"><img src="~/images/logo.png" class="logo p-1" /></a>

        @using (Html.BeginForm("search", "MainFeatures", FormMethod.Post))
        {
            <div class="container-search">
                <input type="text" class="search" placeholder="Search" name="location">
                <button type="submit" class="btn-submit"><img src="~/images/search.png"></button>
            </div>
        }
        <div class="d-flex flex-row">
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-danger m-1 header-btn" asp-controller="Account" asp-action="Login">Login</a>
                <a class="btn btn-outline-danger header-btn m-1" asp-controller="Account" asp-action="Register">Register</a>
            }
            else
            {
                <div class="dropdown">
                    <button class="btn btn-outline-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-id="@User.Identity.Name">My profile</a></li>
                        <li><a class="dropdown-item" asp-controller="MainFeatures" asp-action="myBookings">My bookings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr />
    <div class="contain-footer">
        <div>
            &copy; 2023 - airbnb - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="link-privacy">Privacy.</a>
            <a asp-area="" asp-controller="Home" asp-action="AirCover" class="link-AirCover">AirCover.</a>
            <a asp-area="" asp-controller="Home" asp-action="AirbnbYourHome" class="link-AirbnbYourHome">Airbnb your home</a>
        </div>
        <div>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/airbnbuk/?brand_redir=324826532457" target="_blank"><i class="fa-brands fa-facebook-f icon"></i></a></li>
                <li><a href="https://twitter.com/airbnb" target="_blank"><i class="fa-brands fa-twitter icon"></i></a></li>
                <li><a href="https://www.instagram.com/airbnb/" target="_blank"><i class="fa-brands fa-instagram icon"></i></a></li>
            </ul>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
