@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="d-flex flex-row">
    <img src="~/images/Login.png" width="45%" class="login-register-img" />
    <form method="post" style="margin:5% 15%">

        <div class="col my-3">
            <label asp-for="Email" class="form-label fw-bold fs-5"></label>
            <div class="input-group has-validation">
                <span class="input-group-text rounded" id="inputGroupPrepend"><i class="fa-solid fa-envelope"></i></span>
                <input asp-for="Email" class="form-control rounded py-2 fs-5" aria-describedby="inputGroupPrepend" required>
            </div>
        </div>

        <div class="col">
            <label asp-for="Password" class="form-label fw-bold fs-5"></label>
            <div class="input-group has-validation">
                <span class="input-group-text rounded" id="inputGroupPrepend"><i class="fa-solid fa-lock"></i></span>
                <input asp-for="Password" id="password" class="form-control rounded py-2 fs-5" aria-describedby="inputGroupPrepend" style="postion: relative;" required>
                <i id="open" class="fa-solid fa-eye" style="position: absolute;margin-left: 90%; margin-top: 5%;"></i>
                <i id="close" class="fa-solid fa-eye-slash" style="position: absolute;margin-left: 90%; margin-top: 5%; display: none;"></i>
            </div>
        </div>
        <br />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert" style="width:400px"></div>
        <br />
        <div class="text-center">
            <input type="submit" value="Login" class="btn btn-outline-danger btn-lg text-center" style="width:300px" />
        </div>
        <div class="text-center mt-2">
            <p>Don't have an account? <a asp-area="" asp-controller="Account" asp-action="Register" class="link-danger">Register</a></p>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#open").click(function () {
            $("#open").hide();
            $("#close").show();
            $("#password").attr("type", "text");
        });
        $("#close").click(function () {
            $("#close").hide();
            $("#open").show();
            $("#password").attr("type", "password");
        });
    });
</script>

