@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex flex-row">
    <img src="~/images/Register.png" width="48%" class="login-register-img" />
    <form method="post" style="margin: 0% 15%">

        <div class="col">
            <label asp-for="FirstName" class="form-label fw-bold mt-4"> First name</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></i></span>
                <input asp-for="FirstName" class="form-control rounded " aria-describedby="inputGroupPrepend" required>
            </div>
        </div>
        <div class="col">
            <label asp-for="LastName" class="form-label fw-bold mt-1"> Last name</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-regular fa-user"></i></span>
                <input asp-for="LastName" class="form-control rounded " aria-describedby="inputGroupPrepend" required>
            </div>
        </div>
        <div class="col">
            <label asp-for="DOB" class="form-label fw-bold mt-1"> Date of birth</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-regular fa-calendar-days"></i></span>
                <input asp-for="DOB" class="form-control rounded " aria-describedby="inputGroupPrepend" required>
            </div>
        </div>
        <div class="col">
            <label asp-for="Email" class="form-label fw-bold mt-1"></label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-envelope"></i></span>
                <input asp-for="Email" class="form-control rounded " aria-describedby="inputGroupPrepend" required>
            </div>
        </div>

        <div class="col">
            <label asp-for="Password" class="form-label fw-bold mt-1"></label>
            <div class="input-group has-validation">
                <span class="input-group-text rounded" id="inputGroupPrepend"><i class="fa-solid fa-lock"></i></span>
                <input asp-for="Password" id="password" class="form-control rounded" aria-describedby="inputGroupPrepend" required>
                <i id="open" class="fa-solid fa-eye" style="position: absolute;margin-left: 90%; margin-top: 4%;"></i>
                <i id="close" class="fa-solid fa-eye-slash" style="position: absolute;margin-left: 90%; margin-top: 4%; display: none;"></i>
            </div>
        </div>
        <div class="col">
            <label asp-for="CPassword" class="form-label fw-bold mt-1">Confirm password</label>
            <div class="input-group has-validation">
                <span class="input-group-text rounded" id="inputGroupPrepend"><i class="fa-solid fa-unlock"></i></span>
                <input asp-for="CPassword" id="cpassword" class="form-control rounded" aria-describedby="inputGroupPrepend" required>
                <i id="opened" class="fa-solid fa-eye" style="position: absolute;margin-left: 90%; margin-top: 4%;"></i>
                <i id="closed" class="fa-solid fa-eye-slash" style="position: absolute;margin-left: 90%; margin-top: 4%; display: none;"></i>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert" style="width:400px"></div>

        <div class="text-center">
            <input type="submit" value="Register" class="btn btn-outline-danger text-center mt-4" style="width:300px" />
        </div>
        <div class="text-center mt-1">
            <p>Already have an account? <a asp-area="" asp-controller="Account" asp-action="Login" class="link-danger">Login</a></p>
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#open").click(function () {
            $("#open").hide();
            $("#close").show();
            $("#password").attr("type", "text");
        });
        $("#close").click(function () {
            $("#close").hide();
            $("#open").show();
            $("#password").attr("type", "password");
        });
    });
    $(document).ready(function () {
        $("#opened").click(function () {
            $("#opened").hide();
            $("#closed").show();
            $("#cpassword").attr("type", "text");
        });
        $("#closed").click(function () {
            $("#closed").hide();
            $("#opened").show();
            $("#cpassword").attr("type", "password");
        });
    });
</script>
