@model airbnb.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="d-flex flex-row">
    <img src="~/images/Reset.png" width="45%" class="login-register-img" />
    <form method="post" asp-action="ResetPassword" style="margin:5% 15%">

        <div class="col my-2">
            <label asp-for="OldPassword" class="control-label fw-bold fs-5 mb-2">Old password</label>
            <div class="input-group has-validation">
                <input id="oldpass" asp-for="OldPassword" class="form-control rounded" />
                <i id="open1" class="fa-solid fa-eye" style="position: absolute;margin-left: 90%; margin-top: 4%;"></i>
                <i id="close1" class="fa-solid fa-eye-slash" style="position: absolute;margin-left: 90%; margin-top: 4%; display: none;"></i>
            </div>
        </div>

        <div class="col my-2">
            <label asp-for="NewPassword" class="control-label fw-bold fs-5 mb-2">New password</label>
            <div class="input-group has-validation">
                <input id="newpass" asp-for="NewPassword" class="form-control rounded" />
            <i id="open2" class="fa-solid fa-eye" style="position: absolute;margin-left: 90%; margin-top: 4%;"></i>
            <i id="close2" class="fa-solid fa-eye-slash" style="position: absolute;margin-left: 90%; margin-top: 4%; display: none;"></i>
            </div>
        </div>

        <div class="col my-2">
            <label asp-for="ConfirmPassword" class="control-label fw-bold fs-5 mb-2">Confirm new password</label>
            <div class="input-group has-validation">
            <input id="confirmpass" asp-for="ConfirmPassword" class="form-control rounded" />
            <i id="open3" class="fa-solid fa-eye" style="position: absolute;margin-left: 90%; margin-top: 4%;"></i>
            <i id="close3" class="fa-solid fa-eye-slash" style="position: absolute;margin-left: 90%; margin-top: 4%; display: none;"></i>
            </div>
        </div>

        <div asp-validation-summary="All" class="alert alert-danger mt-4" role="alert" ></div>
        
        <div class="text-center my-4">
            <input type="submit" value="Reset" class="btn btn-outline-danger btn-lg text-center" style="width:300px" />
        </div>

    </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#open1").click(function () {
            $("#open1").hide();
            $("#close1").show();
            $("#oldpass").attr("type", "text");
        });
        $("#close1").click(function () {
            $("#close1").hide();
            $("#open1").show();
            $("#oldpass").attr("type", "password");
        });
        
       
    });

    $(document).ready(function () {
        $("#open2").click(function () {
            $("#open2").hide();
            $("#close2").show();
            $("#newpass").attr("type", "text");
        });
        $("#close2").click(function () {
            $("#close2").hide();
            $("#open2").show();
            $("#newpass").attr("type", "password");
        });
    });


    $(document).ready(function () {
        $("#open3").click(function () {
            $("#open3").hide();
            $("#close3").show();
            $("#confirmpass").attr("type", "text");
        });
        $("#close3").click(function () {
            $("#close3").hide();
            $("#open3").show();
            $("#confirmpass").attr("type", "password");
        });
    });

</script>