@{
    ViewData["Title"] = "Host your home on Airbnb";
}
<h1 class="text-center mt-5">Airbnb it easily with Airbnb Setup</h1>
<img src="~/images/Superhost.png" class="mt-4" style="width:100%" />
<div class="m-4 d-flex justify-content-between">
    <div class="m-3">
        <h5>One-to-one guidance from a Superhost</h5>
        <p class="p-about">
            We’ll match you with a Superhost in your area,
            who’ll guide you from your first question to
            your first guest—by phone, video call, or chat.
        </p>
    </div>
    <div class="m-3">
        <h5>An experienced guest for your first booking</h5>
        <p class="p-about">
            For your first booking, you can choose to
            welcome an experienced guest who has at
            least three stays and a good track record on Airbnb.
        </p>
    </div>
    <div class="m-3">
        <h5>Specialized support from Airbnb</h5>
        <p class="p-about">
            New Hosts get one-tap access to specially
            trained Community Support agents who can
            help with everything from account issues to
            billing support.
        </p>
    </div>
</div>
<div class="text-center">
    <img class="m-2" src="~/images/aircoverForHosts.png" style="width:15%" />
</div>
<h1 class="text-center mt-2">Airbnb it with top‑to‑bottom protection</h1>
<table class="table mt-5" style="width:70%">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Airbnb</th>
            <th scope="col">Competitors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h4 class="h4-container">Guest identity verification</h4>
                <p class="p-td mt-3">
                    Our comprehensive verification system checks details such as name,
                    address, government ID and more to confirm the identity of guests
                    who book on Airbnb.
                </p>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-check true-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td>
                <h4 class="h4-container">Reservation screening</h4>
                <p class="p-td mt-3">
                    Our proprietary technology analyzes hundreds of factors in each
                    reservation and blocks certain bookings that show a high risk for
                    disruptive parties and property damage.
                </p>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td>
                <h4 class="h4-container">$3M damage protection</h4>
                <p class="p-td mt-3">
                    Airbnb reimburses you for damage caused by guests to your home
                    and belongings and includes these specialized protections:
                </p>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td><p class="Protections">Art & valuables</p></td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td><p class="Protections">Auto & boat</p></td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td><p class="Protections">Pet damage</p></td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td><p class="Protections">Income loss</p></td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td><p class="Protections">Deep cleaning</p></td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td>
                <h4 class="h4-container">$1M liability insurance</h4>
                <p class="p-td mt-3">
                    You’re protected in the rare event that a guest gets hurt or their
                    belongings are damaged or stolen.
                </p>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-check true-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td>
                <h4 class="h4-container">24-hour safety line</h4>
                <p class="p-td mt-3">
                    If you ever feel unsafe, our app provides one-tap access to specially-
                    trained safety agents, day or night.
                </p>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td colspan="3" class="p-td">
                Comparison is based on public information and free offerings by top competitors as of 10/22. Find details and<br /> exclusions
                <a class="link-dark fw-bold here" data-bs-toggle="modal" data-bs-target="#exampleModal">here.</a>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">AirCover for Hosts</h5>
                                <button type="button" class="btn-close" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="p-model">
                                    Airbnb's industry-leading Host protection program has evolved over the years.
                                    Now known as AirCover for Hosts, the program includes guest identity
                                    verification, reservation screening, $3M Host damage protection, $1M Host
                                    liability insurance, $1M Experiences liability insurance, and a 24-hour safety line.
                                    If you're not familiar with AirCover for Hosts, you can visit our <b class="text-decoration-underline">Help Center</b> for
                                    answers to most questions.
                                </p>
                                <p class="p-model">
                                    <b>Host damage protection</b> protects your place and belongings every time you
                                    host on Airbnb. Like any kind of protection program, it has a few <b class="text-decoration-underline">
                                        terms,
                                        conditions, and exclusions.
                                    </b> Host damage protection isn't an insurance policy,
                                    and not all damage is included within its terms—so we suggest you also
                                    purchase personal insurance for any property damage caused by guests that
                                    we don't protect. Host damage protection is also different from our Host
                                    liability insurance—you'll learn more about that in the next section. Lastly,
                                    please note that all limits shown are in USD. Any conversion from USD to other
                                    currencies is calculated on the date the reimbursement request is paid.
                                </p>
                                <p class="p-model">
                                    <b>Host liability insurance</b> protects you in the unlikely event that
                                    you're found legally responsible for a guest being hurt or their property
                                    being damaged or stolen during an Airbnb stay at your place. It is underwritten
                                    by third party insurers and also comes with some terms, conditions, and
                                    exclusions, which you can learn more about in the <b class="text-decoration-underline">
                                        comprehensive program summary
                                    </b>. Please note that all limits shown are in USD. Any conversion
                                    from USD to other currencies is calculated on the date the claim is paid
                                    by the insurer.
                                </p>
                                <p class="p-model">
                                    <b>Experiences liability insurance</b> protects you if you're found
                                    legally responsible for a guest being hurt or their property being damaged
                                    or stolen while you're hosting them during an Airbnb Experience. This only
                                    applies to Experiences, so Hosts of stays aren't included in this coverage.
                                    You can learn about any specific terms, conditions, exclusions, and details
                                    of the third party insurers in the <b class="text-decoration-underline">
                                        comprehensive program summary
                                    </b>. Again,
                                    all amounts shown are in USD. Any conversion from USD to other currencies is
                                    calculated on the date the claim is paid by the insurer.
                                </p>
                                <p class="p-model">
                                    If you're a <b class="text-decoration-underline">
                                        Host who had stays or Experiences
                                        in mainland China
                                    </b>, a <b class="text-decoration-underline">Host of stays in Japan</b>,
                                    or an <b class="text-decoration-underline">Experiences Host in Japan</b>,
                                    you have your own protection program, as the <b>Host damage protection, Host liability insurance</b>,
                                    and <b>Experiences liability insurance</b> don't apply to you. Hosts who offer accommodations
                                    through Airbnb Travel, LLC and Adventures Hosts are also not covered by these programs.
                                </p>
                                <p class="p-model">
                                    If you're hosting stays or experiences in the UK, the <b>Host liability insurance policy</b>
                                    and the <b>Experiences liability insurance policy</b> is underwritten by Zurich Insurance plc,
                                    and arranged and concluded at no additional cost for UK hosts by Airbnb UK Services Limited—an appointed
                                    representative of Aon UK Limited, who are authorized and regulated by the Financial Conduct Authority.
                                    Aon's FCA register number is 310451. You can check this on the Financial Services Register by visiting
                                    the <b class="text-decoration-underline">FCA's website</b> or contacting the FCA on +44 0800 111 6768. Insurance products arranged by Airbnb UK Services
                                    Limited are regulated products. FP APC 374 TP
                                </p>
                                <p class="p-model">
                                    <b>Guest identity verification, reservation screening and the 24-hour safety line</b> are tools or features
                                    used by Airbnb to help verify guest identities, screen reservations for potential party and property damage risk,
                                    and provide access to Airbnb's 24-hour safety line. These features aren't insurance policies or guaranteed to prevent
                                    incidents. Guest identity verification is required for guests traveling to <b class="text-decoration-underline">35 countries</b>. Government identification may
                                    not be collected in all cases - visit our <b class="text-decoration-underline">Help Center</b> for more information. Reservation screening using machine learning
                                    is designed to redirect reservations that may have a higher risk of being associated with a potential party and property damage.
                                    This feature is currently available in the US, Canada, and Australia, with the goal of expanding to global coverage
                                    (where feasible and legally permissible). Visit our <b class="text-decoration-underline">Help Center</b> for more information.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h1 class="text-center my-5">Introducing Airbnb-friendly apartments</h1>
<div class="d-flex justify-content-between">
    <div class="Introducing-container">
        <img src="https://a0.muscache.com/im/pictures/fc21732f-df29-4b54-9bc4-cfbe178c54c4.jpg?im_w=1200&im_q=highq" class="apartment-img" />
        <p class="text-center mt-2">
            Park 12 Apartments<br />
            <span class="span-title">San Diego, California</span>
        </p>
    </div>
    <div class="Introducing-container">
        <img src="https://a0.muscache.com/im/pictures/c92564a5-41a3-4bac-8a6a-a07d421032e0.jpg?im_w=1200&im_q=highq" class="apartment-img" />
        <p class="text-center mt-2">
            Old Town Apartments<br />
            <span class="span-title">Scottsdale, Arizona</span>
        </p>
    </div>
    <div class="Introducing-container">
        <img src="https://a0.muscache.com/im/pictures/a1a9196c-2161-42de-959a-e510852f927b.jpg?im_w=1200&im_q=highq" class="apartment-img" />
        <p class="text-center mt-2">
            525 Olive Apartments<br />
            <span class="span-title">San Diego, California</span>
        </p>
    </div>
</div>
<p class="text-center mt-4 mb-5 fs-4">
    We’ve partnered with apartment buildings across the US that let you rent a place to live and
    Airbnb it part-time. Explore available apartments and find out what you can earn.
</p>
<hr />
<div class="d-flex justify-content-between mt-5">
    <div>
        <h1>Your questions,<br />answered</h1>
    </div>
    <div style="width:50%;">
        <div class="accordion">
            <div class="tab">
                <input type="checkbox" name="" id="section1" class="tab-input">
                <label for="section1" class="tab-label fs-5">Is my place right for Airbnb?</label>
                <div class="tab-content">
                    Airbnb guests are interested in all kinds of places. We have listings for tiny homes, cabins, treehouses, and more. Even a spare room can be a great place to stay.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section2" class="tab-input">
                <label for="section2" class="tab-label fs-5">Do I have to host all the time?</label>
                <div class="tab-content">
                    Not at all—you control your calendar. You can host once a year, a few nights a month, or more often.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section3" class="tab-input">
                <label for="section3" class="tab-label fs-5">How much should I interact with guests?</label>
                <div class="tab-content">
                    It’s up to you. Some Hosts prefer to message guests only at key moments—like sending a short note when they check in—while others also enjoy meeting their guests in person. You’ll find a style that works for you and your guests.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section4" class="tab-input">
                <label for="section4" class="tab-label fs-5">Any tips on being a great Airbnb Host?</label>
                <div class="tab-content">
                    Getting the basics down goes a long way. Keep your place clean, respond to guests promptly, and provide necessary amenities, like fresh towels. Some Hosts like adding a personal touch, such as putting out fresh flowers or sharing a list of local places to explore—but it’s not required.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section5" class="tab-input">
                <label for="section5" class="tab-label fs-5">What are Airbnb’s fees?</label>
                <div class="tab-content">
                    Airbnb typically collects a flat service fee of 3% of the reservation subtotal when you get paid. We also collect a fee from guests when they book. In many areas, Airbnb collects and pays sales and tourism taxes automatically on your behalf as well.
                </div>
            </div>
        </div>
    </div>
</div>
