@{
    ViewData["Title"] = "AirCover";
}
<h1 class="my-5 text-center">AirCover provides four protections<br /> for every guest on every stay</h1>
<div class="d-flex flex-row justify-content-between" style="width: 80%; margin-left: 10%;">
    <div style="border-bottom: 1px solid #e8e8e8;">
        <h3>Booking Protection Guarantee</h3>
        <p class="mt-3" style="font-size: 18px; color: #949494;">In the unlikely event a Host needs to cancel your booking within 30 days of check-in, we’ll find you a similar or better home, or we’ll refund you.</p>
    </div>
    <div style="border-bottom: 1px solid #e8e8e8; margin-left: 5%">
        <h3>Check-In Guarantee</h3>
        <p class="mt-3" style="font-size: 18px; color: #949494;">If you can’t check into your home and the Host cannot resolve the issue, we’ll find you a similar or better home for the length of your original stay, or we’ll refund you.</p>
    </div>
</div>
<div class="d-flex flex-row justify-content-between mt-4" style="width: 80%; margin-left: 10%;">
    <div style="width: 50%; border-bottom: 1px solid #e8e8e8;">
        <h3>Get-What-You-Booked Guarantee</h3>
        <p class="mt-3" style="font-size: 18px; color: #949494;">If at any time during your stay you find your listing isn't as advertised—for example, the refrigerator stops working and your Host can’t easily fix it, or it has fewer bedrooms than listed—you'll have three days to report it and we’ll find you a similar or better home, or we’ll refund you.</p>
    </div>
    <div style="width: 50%; border-bottom: 1px solid #e8e8e8; margin-left: 5%">
        <h3>24-hour Safety Line</h3>
        <p class="mt-3" style="font-size: 18px; color: #949494;">If you ever feel unsafe, you’ll get priority access to specially-trained safety agents, day or night.</p>
    </div>
</div>
<p class="mt-3 mb-5" style="width: 80%; margin-left: 10%; font-size: 18px; color: #949494;">
    Find complete details on
    <a class="link-dark fw-bold text-decoration-underline" data-bs-toggle="modal" data-bs-target="#exampleModal">how AirCover protects your booking</a>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg" height="30px">
                    <p class="my-4" style="font-size: 18px;">The way people travel has changed—so we've updated the way we protect guests too. With AirCover, we've created a comprehensive protection program that includes our Rebooking and Refund Policy, a dedicated 24-hour Safety Line, and other kinds of essential support.</p>
                    <p style="font-size: 18px;">AirCover protects you from many travel issues, including:</p>
                    <ul style="font-size: 18px;">
                        <li>If your Host cancels your reservation within 30 days of your check-in date. </li>
                        <li>If you can’t get into your listing, and your Host can’t help you get in.</li>
                        <li> If the Host, another person, or a pet is in the space during your stay, and it wasn’t mentioned in the listing description.</li>
                        <li> If the listing is uninhabitable at check-in because of cleanliness, safety, or health reasons.</li>
                        <li>If the listing description wasn’t accurate about significant things. For example, if the home is missing major advertised amenities (like a refrigerator), it’s a different type of home, or it has the wrong number of bedrooms.</li>
                    </ul>
                    <p class="my-4" style="font-size: 18px;">If an issue does come up during your stay, you'll first need to reach out to your Host to see if they can easily resolve it. If they can’t, just contact us within 72 hours of discovering the problem. If we find the issue is protected by AirCover, we’ll get you a full or partial refund, or, depending on the circumstances, find you a similar or better place to stay.</p>
                    <p style="font-size: 18px;">To learn more about AirCover, visit our Help Center.</p>
                    <p class="my-4" style="font-size: 18px;">Please note that there are a few types of bookings with protections that are more tailored to their unique nature: Airbnb Luxe follows the Luxe Rebooking and Refund Policy; and Airbnb Experiences are protected by our Experiences Guest Refund Policy.</p>
                </div>
            </div>
        </div>
    </div>
</p>
<hr style="color: #999;" />

<h1 class="text-center mt-5">Only Airbnb gives you AirCover</h1>
<table class="table mt-5" style="width:70%">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Airbnb</th>
            <th scope="col">Competitors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h4 class="h4-container">Booking Protection Guarantee</h4>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td>
                <h4 class="h4-container">Check-In Guarantee</h4>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td>
                <h4 class="h4-container">Get-What-You-Booked Guarantee</h4>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td>
                <h4 class="h4-container">24-hour Safety Line</h4>
            </td>
            <td><i class="fa-solid fa-check true-mark i-airbnb"></i></td>
            <td><i class="fa-solid fa-xmark false-mark i-competitors"></i></td>
        </tr>
        <tr>
            <td colspan="3" class="p-td">
                AirCover benefits compared to comprehensive protections offered for free by our most direct competitors as of March 2022.
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex flex-row justify-content-around mt-5" style="width:100%; border-bottom: 1px solid #e8e8e8;">
    <div class="mb-5" style="width:50%">
        <h1 class="mb-5">Every design home<br /> comes with<br /> AirCover</h1>
        <a asp-action="getAll" asp-controller="MainFeatures" style="font-size: 18px; text-decoration: none; color: #000; border: 1px solid #000; border-radius: 10px; padding: 10px 20px;">Start exploring</a>
    </div>
    <div class="mb-5" style="width:40%">
        <img src="https://a0.muscache.com/im/pictures/64ff6bd8-996c-4842-87b2-4c5cb43c337d.jpg?im_w=480" width="100%" style="border-radius: 20px;" />
    </div>
</div>

<div class="d-flex justify-content-between mt-5">
    <div>
        <h1>Your questions,<br />answered</h1>
    </div>
    <div style="width:50%;">
        <div class="accordion">
            <div class="tab">
                <input type="checkbox" name="" id="section1" class="tab-input">
                <label for="section1" class="tab-label fs-5">What is AirCover?</label>
                <div class="tab-content">
                    AirCover is comprehensive protection included for free with every booking. It includes protection from Host cancellations, listing inaccuracies, and other issues like trouble checking in, as well as a 24-hour safety line.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section2" class="tab-input">
                <label for="section2" class="tab-label fs-5">How does AirCover work?</label>
                <div class="tab-content">
                    If an issue comes up during your stay, you'll first need to reach out to your Host to see if they can easily resolve it. If they can’t, you have 72 hours from when you discover the problem to call, email, message us through the app, or just contact us here—we’ll help you figure out next steps. If the issue is protected by AirCover, we’ll make it right, either by finding you another home or giving you a refund.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section3" class="tab-input">
                <label for="section3" class="tab-label fs-5">Are there issues that aren’t protected by AirCover?</label>
                <div class="tab-content">
                    AirCover protects you from many issues that might come up during your stay—like the heat going out in winter—but it doesn’t extend to more minor inconveniences, like a broken toaster.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section4" class="tab-input">
                <label for="section4" class="tab-label fs-5">How is AirCover different from travel insurance?</label>
                <div class="tab-content">
                    AirCover is free protection for your booking, included for every guest. It helps you get refunded or find a new place to stay if you experience an unlikely issue like a Host cancellation, trouble checking in, or a missing key amenity. AirCover is not travel insurance.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section5" class="tab-input">
                <label for="section5" class="tab-label fs-5">Does AirCover protect me if COVID-19 impacts my trip?</label>
                <div class="tab-content">
                    AirCover does not include protection for COVID-19 related issues. If COVID-19 affects your travel plans, your Host’s cancellation policy will apply.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="section6" class="tab-input">
                <label for="section6" class="tab-label fs-5">I’m a Host. Am I protected?</label>
                <div class="tab-content">
                    Yes. AirCover for Hosts provides top-to-bottom protection, with $1M Host liability insurance, $1M Experiences liability insurance, and $3M Host damage protection, which covers pet damage, deep cleaning, and more.
                </div>
            </div>
        </div>
    </div>
</div>
