@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="my-3">Airbnb Privacy</h1>
<img src="~/images/airbnb-privacy.jpeg" width="680px" />
<h3 class="mt-5">Privacy Policy</h3>
<p class="para">Our Privacy Policy explains what personal information we collect, 
    how we use personal<br /> information, how personal information is 
    shared, and privacy rights.
</p>
<h5>Related articles</h5>
<h6 class="mt-2 text-decoration-underline">Privacy Policy</h6>
<p class="para">
    Airbnb exists to help build connections between people and make
    the world more<br /> open and inclusive. In short—to build a world 
    where anyone can belong anywhere. We<br /> are a community built on 
    trust. A fundamental part of earning that trust means being<br /> 
    clear about how we use your information and protecting your human 
    right to privacy.
</p>
<p class="para">
    This Privacy Policy describes how Airbnb, Inc. and its affiliates
    (“<b>we</b>,” “<b>us</b>,” or “<b>Airbnb</b>”),<br /> process personal 
    information in relation to your use of the Airbnb Platform. Depending<br />
    on where you live and what you are doing on the Airbnb Platform, 
    the supplemental<br /> privacy pages listed below may apply to you. 
    Please follow the links and review the<br /> supplemental information 
    describing how we process personal information for those<br /> regions 
    and services.
</p>
<ol>
    <li>
        <b class="para">PERSONAL INFORMATION WE COLLECT</b>
        <ol type="i" class="mt-3">
            <li class="para mt-3">
                <b>Information Needed to Use the Airbnb Platform.</b>
                <p>
                    We collect personal information about you when you use
                    the Airbnb Platform. Without<br /> it, we may not be
                    able to provide all services requested. This 
                    information includes:
                </p>
                <ul>
                    <li><b>Contact, Account, and Profile Information.</b> Such as your first name, last name,<br /> phone number, postal address, email address, date of birth, some of which<br /> will depend on the features you use.</li>
                    <li class="mt-2"><b>Identity Verification and Payment Information.</b> Such as images of your<br /> government-issued ID (as permitted by applicable laws), your ID number or other<br /> verification information, a selfie when we verify your ID, bank account or<br /> payment account information. ​​If you are not an Airbnb user, we may receive<br /> payment information relating to you, such as when an Airbnb user provides your<br /> payment card to complete a booking. If a copy of your ID is provided to us,<br /> we may scan, use, and store information contained in your ID to verify your identity<br /> and for security purposes.</li>
                </ul>
            </li> 
            <li class="para mt-3">
                <b>
                    Information You Choose to Give Us.
                </b>
                <p>You can choose to provide us with additional personal information. This information<br /> may include:</p>
                <ul>
                    <li><b>Additional Profile Information.</b> Such as gender, preferred language(s), city, and<br /> personal description. Some of this information as indicated in your account<br /> settings is part of your public profile page and will be publicly visible.</li>
                    <li class="mt-2"><b>Information About Others.</b> Such as a payment instrument belonging to another<br /> person or information about a co-traveler. By providing us with personal<br /> information about others, you certify that you have permission to provide that<br /> information to Airbnb for the purposes described in this Privacy Policy and<br /> you have shared the Airbnb Privacy Policy with them.</li>
                    <li class="mt-2"><b>Other Information.</b> Such as when you fill in a form, add information to your<br /> account, respond to surveys, post to community forums, participate in<br /> promotions, communicate with Airbnb Support and other Members, import or<br /> manually enter address book contacts, provide your address and/or geolocation,<br /> or share your experience with us. This may include health information if you<br /> choose to share it with us.</li>
                </ul>
            </li>
            <li class="para mt-3">
                <b>
                    Information Automatically Collected by Using the Airbnb Platform and Our<br /> Payment Services.
                </b>
                <p>When you use the Airbnb Platform and Payment Services, we automatically collect<br /> personal and other information. This information may include:</p>
                <ul>
                    <li><b>Geolocation Information.</b> Such as precise or approximate location determined<br /> from your IP address, mobile or other device’s GPS, or other information you<br /> share with us, depending on your device settings. We may also collect this<br /> information when you’re not using the app if you enable this through your<br /> settings or device permissions.</li>
                    <li class="mt-2"><b>Usage Information.</b> Such as the pages or content you view, searches for Listings,<br /> bookings you have made, additional services you have added, and other actions<br /> on the Airbnb Platform.</li>
                    <li class="mt-2"><b>Log Data and Device Information.</b> Such as details about how you’ve used the<br /> Airbnb Platform (including if you clicked on links to third-party applications), IP<br /> address, access dates and times, hardware and software information, device<br /> information, device event information, unique identifiers, crash data, and the<br /> pages you’ve viewed or engaged with before or after using the Airbnb Platform.<br /> We may collect this information even if you haven’t created an Airbnb account or<br /> logged in.</li>
                    <li class="mt-2"><b>Payment Transaction Information.</b> Such as payment instrument used, date and<br /> time, payment amount, payment instrument expiration date and billing<br /> postcode, PayPal email address, IBAN information, your address, and other<br /> related transaction details.</li>
                </ul>
            </li>
        </ol>
    </li>
    <li class="mt-3">
        <b class="para">HOW WE USE INFORMATION WE COLLECT</b>
        <ol type="i" class="mt-3">
            <li class="para mt-3">
                <b>Provide, Improve, and Develop the Airbnb Platform.</b> We may process this<br /> information to:
                <ul>
                    <li class="mt-2">enable you to access the Airbnb Platform and make and receive payments,</li>
                    <li class="mt-2">enable you to communicate with other Members,</li>
                    <li class="mt-2">process your request,</li>
                    <li class="mt-2">perform analytics, debug, and conduct research,</li>
                    <li class="mt-2">provide customer service training,</li>
                    <li class="mt-2">send you messages, updates, security alerts, and account notifications,</li>
                    <li class="mt-2">process, handle, or assess insurance claims or similar claims,</li>
                    <li class="mt-2">enable your use of our enterprise products and accommodation services.</li>
                </ul>
                <p class="mt-2">If you provide us with your contacts’ information, such as your friends or co-travelers,<br /> we may process this information to: (i) facilitate your referral invitations, (ii) share your<br /> trip details and facilitate trip planning, (iii) detect and prevent fraud, and (iv) facilitate<br /> your requests or for any other purpose you authorize.</p>
            </li>
            <li class="para mt-3">
                <b>Analyzing and Sharing Your Communications.</b>
                <p class="mt-3">We may review, scan, or analyze your communications on the Airbnb Platform for<br />
                    reasons outlined in the “How We Use Information We Collect” section of this policy,<br /> 
                    including fraud prevention, security investigations, risk assessment, regulatory<br /> 
                    compliance, product development, research, analytics, enforcing our <b>Terms of<br />
                    Service</b>, and customer support purposes. For example, as part of our fraud prevention<br />
                    efforts, we scan and analyze messages to mask contact information and references to<br /> other sites, and subject to applicable law, we scan and analyze all images uploaded by<br />
                    users to the Airbnb platform in message threads, profiles, listings, and experiences for<br /> certain illegal or inappropriate activities (such as evidence of child exploitation) for the<br />
                    purpose of identifying and reporting content violations to appropriate authorities. In<br /> some cases, we may also scan, review, or analyze messages to debug, improve, and<br /> 
                    expand product offerings. We use automated methods where reasonably possible.<br /> Occasionally we may need to manually review communications, such as for fraud<br /> 
                    investigations and customer support, or to assess and improve the functionality of<br /> these automated tools. We will not review, scan, or analyze your messaging<br /> 
                    communications to send third-party marketing messages to you and we will not sell<br /> reviews or analyses of these communications. We may also share your<br /> communications as set out in the “Sharing & Disclosure” section.
                </p>
            </li>
        </ol>
    </li>
    <li class="para mt-3">
        <b>OTHER IMPORTANT INFORMATION</b>
        <p class="mt-3">
            Parts of Airbnb may link to third-party services. Airbnb does not own or control these<br /> third parties. When you interact with these third parties and choose to use their<br />
            service, you are providing your information to them. Your use of these services is<br /> subject to the privacy policies of those providers, including <b class="text-decoration-underline">Google Maps/Earth<br /> Additional Terms of Use, Google Privacy Policy</b>
            (see here for more information on<br /> how Google uses information), <b class="text-decoration-underline">Paypal Privacy Statement</b>, and <b class="text-decoration-underline">Citi Privacy Policy</b>.
        </p>
    </li>
    <li class="para mt-3">
        <b>CONTACT INFORMATION AND RESPONSIBLE AIRBNB ENTITIES</b>
        <p class="mt-3">
            For questions or complaints about this Privacy Policy or Airbnb’s handling of personal<br /> information (i) If you reside in the United States contact Airbnb, Inc., Legal Privacy, 888<br />
            Brannan Street, San Francisco, CA 94103 USA or by emailing us at <b class="text-decoration-underline">dpo@airbnb.com</b> or<br /> by calling us toll-free at (844) 234-2500; (ii) for payments related matter please use the<br />
            contact information provided in the Payments Terms of Service page, and (iii) if you<br /> reside outside the United States, please use the contact information for your<br /> controller provided in the Outside of the United States page.
        </p>
    </li>
</ol>
