@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="my-4">Airbnb Privacy</h1>

<div class="d-flex justify-content-between" style="border-bottom: 1px solid #e8e8e8;">
    <div class="mb-5" style="width: 48%">
        <img src="~/images/airbnb-privacy.jpeg" width="100%" style="border-radius:20px;" />
        <h3 class="mt-4">Privacy Policy</h3>
        <p class="para mt-3">
            Our Privacy Policy explains what personal information we collect,
            how we use personal information, how personal information is
            shared, and privacy rights.
        </p>
    </div>
    <div class="p-3 shadow rounded mb-5" style="width: 48%;">
        <h5 class="mb-3">Privacy Policy</h5>
        <p class="para">
            Airbnb does not sell personal information to third parties: we’re not a data broker and we don’t put personal information on the open market. However, we may share personal information with certain third parties to do targeted advertising or data analytics, which under California and certain other state privacy laws could be characterized as “selling,” “sharing,” or “targeted advertising”.
        </p>
        <p class="para">
            This allows you to protect your personal data from unauthorized access to them by third parties. All the information that was provided to our resource is protected. It is stored by our employee, who works with the owner of this data. Before you start working with confidential information, each employee has signed a non-disclosure agreement (NDA) and is responsible for its safety. This serious responsibility is entrusted only to the most reliable of our employees.
        </p>
    </div>
</div>

<div class="d-flex mt-5 justify-content-between" style="border-bottom: 1px solid #e8e8e8;">
    <div class="p-3 shadow rounded mb-5" style="width: 51%;">
        <h5 class="mb-3">Related articles</h5>
        <p class="para">
            Airbnb exists to help build connections between people and make
            the world more open and inclusive. In short—to build a world
            where anyone can belong anywhere. We are a community built on
            trust. A fundamental part of earning that trust means being
            clear about how we use your information and protecting your human
            right to privacy.
        </p>
        <p class="para">
            This Privacy Policy describes how Airbnb, Inc. and its affiliates
            (“<b>we</b>,” “<b>us</b>,” or “<b>Airbnb</b>”), process personal
            information in relation to your use of the Airbnb Platform. Depending
            on where you live and what you are doing on the Airbnb Platform,
            the supplemental privacy pages listed below may apply to you.
            Please follow the links and review the supplemental information
            describing how we process personal information for those regions
            and services.
        </p>
    </div>
    <div class="mb-5" style="width: 45%;">
        <img src="~/images/Privacy policy.png" width="100%" />
    </div>
</div>

<h3 class="my-5">Personal Information We Collect</h3>
<div class="d-flex flex-row justify-content-between mt-2 pb-5" style="border-bottom: 1px solid #e8e8e8;">
    <div class="shadow rounded p-3" style="margin-right:3%; width:25%">
        <h4>Contact, Account, and Profile Information.</h4>
        <p class="para mt-3">Such as your first name, last name, phone number, postal address, email address, date of birth, and profile photo, some of which will depend on the features you use.</p>
    </div>
    <div class="shadow rounded p-3" style="margin-right:3%; width:25%">
        <h4>Additional Profile Information. </h4>
        <p class="para mt-3">Such as gender, preferred language(s), city, and personal description. Some of this information as indicated in your account settings is part of your public profile page and will be publicly visible.</p>
    </div>
    <div class="shadow rounded p-3" style="margin-right:3%; width:25%">
        <h4>Identity Verification and Payment Information. </h4>
        <p class="para mt-3">Such as images of your government-issued ID (as permitted by applicable laws), your ID number or other verification information, a selfie when we verify your ID, bank account or payment account information.</p>
    </div>
    <div class="shadow rounded p-3" style="width:25%">
        <h4>Other Information.</h4>
        <p class="para mt-3">Such as when you fill in a form, add information to your account, respond to surveys, post to community forums, participate in promotions, communicate with Airbnb Support and other Members, import or manually enter address book contacts.</p>
    </div>
</div>

<h3 class="my-5">Information Collected by Using the Airbnb Platform</h3>
<div class="d-flex flex-row justify-content-between mt-2 pb-5" style="border-bottom: 1px solid #e8e8e8;">
    <div class="shadow rounded p-3 " style="margin-right:3%; width:25%">
        <h4>Geolocation Information.</h4>
        <p class="para mt-3">Such as precise or approximate location determined from your IP address, mobile or other device’s GPS, or other information you share with us, depending on your device settings. </p>
    </div>
    <div class="shadow rounded p-3 " style="margin-right:3%; width:25%">
        <h4>Usage Information.</h4>
        <p class="para mt-3">Such as the pages or content you view, searches for Listings, bookings you have made, additional services you have added, and other actions on the Airbnb Platform.</p>
    </div>
    <div class="shadow rounded p-3" style="margin-right:3%; width:25%">
        <h4>Log Data and Device Information.</h4>
        <p class="para mt-3">Such as details about how you’ve used the Airbnb Platform (including if you clicked on links to third-party applications), IP address, access dates and times, hardware and software information.</p>
    </div>
    <div class="shadow rounded p-3 " style=" width:25%">
        <h4>Payment Transaction Information.</h4>
        <p class="para mt-3">Such as payment instrument used, date and time, payment amount, payment instrument expiration date and billing postcode, PayPal email address, IBAN information, your address.</p>
    </div>
</div>

<h3 class="mt-5 mb-4">How We Use Information We Collect</h3>
<div class="d-flex flex-row" style="border-bottom: 1px solid #e8e8e8;">
    <div class="mt-5 mb-5" style="width: 60%">
        <p style="font-size: 18px;"><b>Provide, Improve, and Develop the Airbnb Platform.</b> We may process this information to:</p>
        <ul style="font-size: 18px;">
            <li>enable you to access the Airbnb Platform and make and receive payments.</li>
            <li>enable you to communicate with other Members.</li>
            <li>process your request.</li>
            <li>perform analytics, debug, and conduct research.</li>
            <li>provide customer service training.</li>
            <li>process, handle, or assess insurance claims or similar claims.</li>
            <li>personalize and customize your experience based on your interactions with the Airbnb Platform.</li>
            <li>enable your use of our enterprise products and accommodation services.</li>
        </ul>
    </div>
    <div class="mb-5" style="width: 40%">
        <img src="~/images/collect.png" width="100%" />
    </div>
</div>

<h3 class="mt-5 mb-4">Other Important Information</h3>
<div class="d-flex flex-row justify-content-between">
    <div style="width:32%;">
        <img src="~/images/information.png" width="100%" />
    </div>
    <div class="shadow rounded p-4 my-5 d-flex flex-column justify-content-center" style="width:65%">
        <p class="para">Parts of Airbnb may link to third-party services. Airbnb does not own or control these third parties. When you interact with these third parties and choose to use their service, you are providing your information to them. Your use of these services is subject to the privacy policies of those providers, including Google Maps/Earth Additional Terms of Use, Google Privacy Policy (see here for more information on how Google uses information), Paypal Privacy Statement, and Citi Privacy Policy.</p>
    </div>
</div>